
.advice-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 1.5;
  display: block;
  width: 250px; /*ความกว้าง*/
  padding: 15px; /*ขนาดปุ่ม*/
  margin-bottom: 25px;
  background-color: #FFFF;
  border: 1px solid hsl(0, 0%, 80%);
  color: rgb(13, 13, 13);
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px #b2b2b2;
  font-size: larger;
  cursor: pointer;
  text-align :center;
}

.next-button {
  margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 1.5;
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 15px;
    margin-bottom: 55px;
    background-color: #FFFF;
    border: 1px solid #ccc;
    color: rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px #b2b2b2;
    font-size: larger;
    cursor: pointer;
    text-align :center;
}

.back-button{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 1.5;
  display: block;
  width: 100%;
  max-width: 250px;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #FFFF;
  border: 1px solid #ccc;
  color: rgb(13, 13, 13);
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px #b2b2b2;
  font-size: larger;
  cursor: pointer;
  text-align :center;
}


.next-button:hover{
  background-color: #757575;/* สีปุ่มเช็คคำตอบตอนชี้*/
  color: #FFFF;
  box-shadow: 0 4px 0 0 #b2b2b2;
}

.next-button:active{
  box-shadow: none;
  transform: translateY(5px);
}


.back-button:hover{
  background-color: #757575;/* สีปุ่มเช็คคำตอบตอนชี้*/
  color: #FFFF;
  box-shadow: 0 4px 0 0 #b2b2b2;
}

.back-button:active{
  box-shadow: none;
  transform: translateY(5px);
}

.advice-button:hover{
  background-color: #757575;/* สีปุ่มเช็คคำตอบตอนชี้*/
  color: #FFFF;
  box-shadow: 0 4px 0 0 #b2b2b2;
}

.advice-button:active{
  box-shadow: none;
  transform: translateY(5px);
}



.Bmi1 {
  padding: 10px;
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.highlight {
  background-color: #757575;
  color: rgb(255, 255, 255);
}

.ant-image-img {
  width: 100%;
  min-width: 300px;
  height: auto;
  align-items: center;
  vertical-align: middle;
}

.chevron-icon {
  position: absolute;
  left: 60px;
  top: 20px;
  width: 70%;
  max-width: 300px;
  height: 70%;
  color: #000000;
}




.child-bmi
   {

    display: inline-block;
    border: 2px solid white;
    background-color: #FFFF;
    color: rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px #b2b2b2;
    padding: 10px;
    margin: 5px auto; /* จัดให้ตรงกลาง */
    width: 60%; /* กำหนดความกว้าง */
    text-align: center; /* จัดให้ข้อความอยู่ที่ซ้าย */
  }

  .child-advice
   {

    display: inline-block;
    border: 2px solid white;
    background-color: #FFFF;
    color: rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px #b2b2b2;
    padding: 10px;
    margin: 5px auto; /* จัดให้ตรงกลาง */
    width: 60%; /* กำหนดความกว้าง */
    text-align: left; /* จัดให้ข้อความอยู่ที่ซ้าย */
  }
  
  input,
  label {
    display: inline-block;
  }
  

  .bmi-button {
   
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 1.5;
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 15px;
    position: relative; /* กำหนดให้มีการจัดตำแหน่งแบบสัมพันธ์ */
    top: 200px; /* กำหนดระยะห่างด้านล่างขององค์ประกอบ 20px */
    margin-bottom: 55px;
    background-color: #FFFF;
    border: 1px solid #ccc;
    color: rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px #b2b2b2;
    font-size: larger;
    cursor: pointer;
    text-align :center;
  }

  .bmi-button:hover{
    background-color: #757575;/* สีปุ่มเช็คคำตอบตอนชี้*/
    color: #FFFF;
    box-shadow: 0 4px 0 0 #b2b2b2;
  }
  
  .bmi-button:active{
    box-shadow: none;
    transform: translateY(5px);

  }
  input {
    padding: 16px;
    width: calc(100% - 32px);
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 1em auto;
    margin-bottom: 1em;
    font-size: 1rem;
    font-family: 'Itim', cursive;
    background-color: #fff;
    color: #111;


  }
       
    @media screen and (max-width: 1200px) {
      .Bmi1 {
        font-size: 1.6rem;
      }
      .advice-button,
      .next-button,
      .back-button {
        width: 50vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
    }

    
    @media screen and (max-width: 992px) {
      .Bmi1 {
        font-size: 1.6rem;
      }
      .child-bmi,
      .child-advice {
        width: 50vw;
      }
      .advice-button,
      .next-button,
      .back-button{
        width: 45vw;
      }
    }

    
    @media screen and (max-width: 768px) {
      .Bmi1 {
        font-size: 1.5rem;
      }
      .child-bmi,
      .child-advice {
        width: 40vw;
      }
      .advice-button,
      .next-button,
      .back-button {
        width: 30vw;
      }
    }

    
    @media screen and (max-width: 576px) {
      .Bmi1 {
        font-size: 1.5rem;
      }
      .child-bmi,
      .child-advice {
        width: 40vw;
      }
      .advice-button,
      .next-button,
      .back-button {
        width: 20vw;
      }
    } 
  
  