.font-family {
    font-family: 'Noto Sans Thai', sans-serif;
    /* ส่วนอื่น ๆ ของ CSS ของคุณ */
  }
  
  .yes-button {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 30px;
    display: block;
    width: 100%; 
    padding: 30px; 
    margin-bottom: 25px;
    background-color: #FFFF;
    border: 1px solid hsl(0, 0%, 80%);
    color: rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: 6px 6px 4px 2px #b2b2b2;
    cursor: pointer;
    text-align :center;
  }
  
  .no-button {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 30px;
    display: block;
    width: 100%;
    padding: 30px;
    margin-bottom: 25px;
    background-color: #FFFF;
    border: 1px solid #ccc;
    color: rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: 6px 6px 4px 2px #b2b2b2;
    cursor: pointer;
    text-align :center;
  }
  
  .button-container {
    display: flex;
    padding: 20px;
    justify-content: center; 
  }
  
  .no-button:hover{
    background-color: #757575;
    color: #FFFF;
    box-shadow: 0 4px 0 0 #b2b2b2;
  }
  
  .no-button:active{
    box-shadow: none;
    transform: translateY(5px);
  }
  
  .yes-button:hover{
    background-color: #757575;
    color: #FFFF;
    box-shadow: 0 4px 0 0 #b2b2b2;
  }
  
  .yes-button:active{
    box-shadow: none;
    transform: translateY(5px);
  }
  
  .yn-container{
    position: relative; 
    left: -80px;
  }
  
  .Ynquiztion {
    font-size: 30px;
    margin: 20px;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-bold {
    font-weight: bold;
    /* Other custom styles you want to apply */
  }
  
  
  .highlight {
    background-color: #757575;
    color: rgb(255, 255, 255);
  }
  
  .chevron-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff; 
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 300px;
    top: 30px;
  }
  
  .yes-button,
  .no-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgmedia{
    width: 500%;
    height: 500%;
  }
  
  @media screen and (max-width: 1600px) {
    .Ynquiztion {
      display: flex;
      font-size: 2.2rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 20px;
      padding-top: 20px;
    }
    
    .imgmedia {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; 
    }
    .chevron-icon {
      font-size: 30px;
      width: 50px;
      height: 50px;
    }
  }
  
  @media screen and (max-width: 1400px) {
    .Ynquiztion {
      display: flex;
      font-size: 1.5rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 20px;
      padding-top: 20px;
      
    }
    .imgmedia {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; 
    }
    .chevron-icon {
      font-size: 40px;
      width: 60px;
      height: 60px;
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    .Ynquiztion {
      display: flex;
      font-size: 1.5rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 20px;
      padding-top: 20px;
    }
    
    .imgmedia {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    .chevron-icon {
      font-size: 40px;
      width: 60px;
      height: 60px;
    }
  }
  
  
  @media screen and (max-width: 992px) {
  
    .Ynquiztion {
      display: flex;
      font-size: 1.5rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 20px;
      padding-top: 20px;
    }
    
    .imgmedia {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; 
    }
    .chevron-icon {
      font-size: 30px;
      width: 45px;
      height: 45px;
    }
  }
  
  
  @media screen and (max-width: 768px) {
  
    .Ynquiztion {
      display: flex;
      font-size: 1.4rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 20px;
      padding-top: 20px;
    }
    
    .imgmedia {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; 
    }
    .chevron-icon {
      font-size: 30px;
      width: 45px;
      height: 45px;
      transform: translateX(-200px);
    }
  }
  
  @media screen and (max-width: 576px) {
    .Ynquiztion {
      display: flex;
      font-size: 1.5rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 20px;
      padding-top: 40px;
    }
    .imgmedia {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; 
    }
    .chevron-icon {
      font-size: 30px;
      width: 40px;
      height: 40px;
      transform: translateX(-270px);
    }
  }
  
  @media screen and (max-width: 400px) {
    .question {
      position: relative;
      left: 70px;
    }
    .and {
      position: relative;
      left: 70px;
    }
    .Ynquiztion {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 20px;
      padding-top: 20px;
    }
    .imgmedia {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; 
    }
    .chevron-icon {
      font-size: 30px;
      width: 45px;
      height: 45px;
    }
    .no-button,
    .yes-button {
     position: relative;
     left: 70px;
    }
  }
  