.font-family {
  font-family: 'Noto Sans Thai', sans-serif;
  /* ส่วนอื่น ๆ ของ CSS ของคุณ */

}

.quiz-card {
  padding: 100px;
  background-color: #BCCEFB;
  /*border: 1px solid #BCCEFB;*/
  border-radius: 5px;  
}

.wrap {
  align-items: normal!important;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap!important
}

.question {
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  margin-bottom: 20px;
  font-size: larger;
}

.answer {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}

.answer-button {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 17px;
  background-color: #FFFF;
  border: 1px solid #ccc;
  color: rgb(13, 13, 13);
  border-radius: 5px;
  box-shadow: 8px 8px 6px 4px #b2b2b2;
  font-size: larger;
  cursor: pointer;
  text-align :center;
}

.answer-button:active{
  background-color: #757575;
  color: rgb(255, 255, 255);
  transform: translateY(5px);
  outline: none;
}

.answer-button::selection{
  background-color: #ffffff;
}

.highlight {
  background-color: #757575;
  color: rgb(255, 255, 255);
  box-shadow: 8px 8px 6px 4px #b2b2b2;
}

.next {
  display: block;
  width: 50%;
  padding: 20px;
  margin: 0 auto ; /* ปรับให้กำหนด margin เป็น 0 auto เพื่อให้ตัวปุ่มอยู่ตรงกลาง */
  background-color: #FFFF;
  border: 1px solid #ccc;
  color: rgb(13, 13, 13);
  border-radius: 5px;
  box-shadow: 8px 8px 6px 4px #b2b2b2;
  font-size: large;
  cursor: pointer;
  text-align: center;
  transform: translateX(5%);

  
  justify-content: center;
}

.next:hover {
  background-color: #757575;
  color: rgb(255, 255, 255);
  box-shadow: 8px 8px 6px 4px #b2b2b2;
}

.next:active {
  box-shadow: 8px 8px 6px 4px #b2b2b2;
  transform: translateY(5px);
}

.circular-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff; /* เปลี่ยนสีตามที่ต้องการ */
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: -70px;
  top: 30px;
}

/*MEDIA*/
@media screen and (max-width: 1400px) {
  .question {
    padding-top: 30px;
    font-size: 2rem;
  }
  .answer-button{
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .next-button{
    width: 35vw !important;
  }
}
/* 1200px หรือน้อยกว่า */
@media screen and (max-width: 1200px) {
  .question {
    padding-top: 30px;
    font-size: 1.6rem;
  }
  .answer-button{
    width: 50vw;
    
  }
  .next-button{
    width: 35vw !important;
  }
}

/* 992px หรือน้อยกว่า */
@media screen and (max-width: 992px) {
  .question {
    padding-top: 30px;
    font-size: 1.6rem;
  }
  .answer-button {
    width: 50vw;
  }
  .next-button {
    width: 35vw !important;
  }
}

/* 768px หรือน้อยกว่า */
@media screen and (max-width: 768px) {
  .question {
    padding-top: 30px;
    font-size: 1.5rem;
  }
  .answer-button {
    width: 55vw;
    position: relative;
    left: -95px;
  }
  .next-button {
    width: 35vw !important;
    position: absolute;
    left: -50;
  }
}

/* 576px หรือน้อยกว่า */
@media screen and (max-width: 576px) {
  .question {
    padding-top: 30px;
    font-size: 1.4rem;
  }
  .answer-button {
    width: 69vw;

  }
  .next-button {
    width: 40vw !important;
  }
}

@media screen and (max-width: 530px) {
  .question {
    padding-top: 30px;
    font-size: 1.4rem;
  }
  .answer-button {
    width: 67vw;
    font-size: 1.2rem;
  }
  .next {
    width: 40vw !important;
    font-size: 1.2rem;
  }

}