.question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question-text {
    font-size: 16px;
    margin-bottom: 20px;
    font-size: larger;
  }
  
  .answer {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .answer-button {
    display: block;
    width: 30%;
    padding: 20px;
    margin-bottom: 12px;
    background-color: #FFFF;
    border: 1px solid #ccc;
    color: rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px #b2b2b2;
    font-size: larger;
    cursor: pointer;
    text-align :center; /* Add this line to align text to the left */
    position: relative;
    
  }
  
  .answer-button:active{
    background-color: #b61f1f;
    transform: translateY(5px);
    outline: none;
  }
  
  
  .next-button{
    display: block;
    width: 30%;
    padding: 20px;
    margin-bottom: 12px;
    background-color: #FFFF;
    border: 1px solid #ccc;
    color: rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px #b2b2b2;
    font-size: larger;
    cursor: pointer;
    text-align :center; /* Add this line to align text to the left */
  }
  
  .next-button:active {
    box-shadow: none;
    transform: translateY(5px);
  }
  