#root{
   font-family: 'Noto Sans Thai', sans-serif;
}

body {
    margin: 0;
    /* display: flex; */
    place-items: center;
    min-width: 100%;
    min-height: 100vh;
  font-family: 'Noto Sans Thai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dcdcdc;
  background-image: url('/img/nano.jpg');
  background-repeat: no-repeat;
  background-position: center;

}
 
